<section>
    <h2>Hello! What is your name?</h2>
    <form class="form-inline">
        <fieldset>
            <label>Name</label>
            <input type="text" data-bind="value: name, valueUpdate: 'afterkeydown'" />
            <button type="submit" class="btn" data-bind="click: sayHello, enable: name">Click Me</button>
        </fieldset>
    </form>
    <form>
        <pre id="queryEditor" class="form-control" data-bind="aceEditor: { code: queryText, allowResize: true, minHeight: 60, maxHeight: 200, typeName:'query', lang:'ace/mode/sparql'}, valueUpdate: 'afterkeydown'"></pre>
    </form>
    <form>
        <fieldset>
            <button type="submit" class="btn" data-bind="click: testNotif">Notify!</button>
        </fieldset>
    </form>
</section>