<section>
    <h2>Queries</h2>
    <div class="row">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bind="click: newQueryDefinition" title="Create new Query Definition">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <!-- ko if: isAttached() -->
            <div data-bind="koGrid: { data : queriesList,
                                columnDefs: columnList,
                                autogenerateColumns: false,
                                multiSelect: false,
                                displaySelectionCheckbox: false,
                                selectWithCheckboxOnly: true},
                                dynamicHeight: { resizeTrigger: window.dragqnLDWindowHeight(), target: 'footer' }">

            </div>
            <!-- /ko -->
        </div>
    </div>
</section>