<section>
    <h2>Queries</h2>
    <div class="row">
        <div>
            <!-- ko if: isAttached() -->
            <div data-bind="koGrid: { data : queries,
                                columnDefs: [ { field: 'Id', displayName: 'Id'},
                                                { field: 'Name', displayName: 'Name'},
                                                { field: 'Description', displayName: 'Description'} ],
                                autogenerateColumns: false,
                                isMultiSelect: false},
                                dynamicHeight: { resizeTrigger: window.dragqnLDWindowHeight(), target: 'footer' }">

            </div>
            <!-- /ko -->
        </div>
    </div>
</section>