<section>
    <div class="row">
        <ul class="breadcrumb">
            <li class="active">
                <h3>
                    <i class="fa fa-file-text-o"></i>
                    <span> Search</span>
                </h3>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bind="click: search, enabled: canSearch"><i class="fa fa-search"></i></button>

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span data-bind="text: selectedDefinition"></span><span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <!-- ko foreach: definitionsExceptSelected -->
                    <li data-bind="click: $root.setSelectedDefinition.bind($root, $data.Id)">
                        <a href="#"><span data-bind="text: $data.Id"></span></a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</section>