<section>
    <div class="row">
        <ul class="breadcrumb">
            <li>
                <h3>
                    <i class="fa fa-file-text-o"></i>
                    <!-- ReSharper disable once Html.IdNotResolved -->
                    <a href="#queries" data-bind="click: navigateToQueries">Queries</a>
                </h3>
            </li>
            <li class="active">
                <span data-bind="text: title"></span>
            </li>
        </ul>
    </div>
    <h2 data-bind="text: title"></h2>
</section>