<section>
    <div class="row">
        <ul class="breadcrumb">
            <li>
                <h3>
                    <i class="fa fa-file-text-o"></i>
                    <!-- ReSharper disable once Html.IdNotResolved -->
                    <a data-bind="attr: {href: navigateToQueriesUrl}">Queries</a>
                </h3>
            </li>
            <li>
                <a data-bind="attr: {href: navigateToDefinitionUrl}"><span data-bind="text: definitionId"></span></a>
            </li>
            <li>
                <span>Documents</span>
            </li>
            <li class="active">
                <span data-bind="text: documentId"></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="control-label" for="documentEditor">Document</label>
            <div>
                <pre id="documentEditor" class="form-control" data-bind="aceEditor: { code: document, readOnly: true, allowResize: true, lang:'ace/mode/json'},  dynamicHeight: { resizeTrigger: window.dragqnLDWindowHeight(), target: 'footer', bottomMargin: 40 }, valueUpdate: 'afterkeydown'"></pre>
            </div>
        </div>
    </div>
</section>