<section>
    <div class="row">
        <ul class="breadcrumb">
            <li>
                <h3>
                    <i class="fa fa-file-text-o"></i>
                    <!-- ReSharper disable once Html.IdNotResolved -->
                    <a href="#queries" data-bind="click: navigateToQueries">Queries</a>
                </h3>
            </li>
            <li class="active">
                <span data-bind="text: queryId"></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <h2 data-bind="text: queryId"></h2>
        <div class="col-sm-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bind="click: runQuery, enabled: canRun"><i class="fa fa-play"></i></button>
                <button type="button" class="btn btn-default" data-bind="click: refresh"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="col-sm-6" data-bind="with:queryDefinition">
            <div>
                Name: <span data-bind="text: name"></span> <p />
                Description: <span data-bind="text: description"></span> <p /> <!-- todo: word wrapping for long descriptions -->
                Status: <span data-bind="text: status().statusText"></span><p />
                Document Count: <span data-bind="text: storedDocumentCount"></span>
            </div>
            <h3>Query parameters</h3>
            <div>
                Parameter name: <span data-bind="text: constructQueryUriParameterName"></span>
            </div>
            <h4>Construct Query</h4>
            <div data-bind="with: constructQuery">
                Sparql endpoing: <a data-bind="text: sparqlEndpoint, attr:{href: sparqlEndpoint}"></a><p />
                Default Dataset: <a data-bind="text: defaultDataSet, attr:{href: sparqlEndpoint}"></a><p />
                Query text: <p />
                <pre id="queryEditorConstruct" class="form-control" data-bind="aceEditor: { code: query, readOnly: true, allowResize: true, minHeight: 60, maxHeight: 100, typeName:'query', lang:'ace/mode/sparql'}, valueUpdate: 'afterkeydown'"></pre>
            </div>
            <h4>Select Query</h4>
            <div data-bind="with: selectQuery">
                Sparql endpoing: <a data-bind="text: sparqlEndpoint, attr:{href: sparqlEndpoint}"></a><p />
                Default Dataset: <a data-bind="text: defaultDataSet, attr:{href: sparqlEndpoint}"></a><p />
                Query text:  <p />
                <pre id="queryEditorConstruct" class="form-control" data-bind="aceEditor: { code: query, readOnly: true, allowResize: true, minHeight: 60, maxHeight: 100, typeName:'query', lang:'ace/mode/sparql'}, valueUpdate: 'afterkeydown'"></pre>
            </div>
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-tabs" id="queryDefinitionTabs">
                <li class="active" data-bind="click: activateDocs, css: { active: isShowingDocuments }" title="Show documents"><a style="cursor: pointer;">Documents</a></li>
                <li data-bind="click: activateIndexes, css: { active: isShowingDocuments() === false }" title="Show indexes"><a style="cursor: pointer;">Indexes</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" data-bind="css: { active: isShowingDocuments}">
                    <h3>Documents</h3>
                    <div>
                        <div data-bind="koGrid: { data : documentsList,
                                columnDefs: documentsColumnList,
                                autogenerateColumns: false,
                                multiSelect: false,
                                displaySelectionCheckbox: false,
                                selectWithCheckboxOnly: true,
                                pagingOptions: documentsListPagingOptions},
                                dynamicHeight: { resizeTrigger: window.dragqnLDWindowHeight(), target: 'footer' }"></div>
                    </div>
                </div>
                <div class="tab-pane" data-bind="css: { active: isShowingDocuments() === false}">
                    <h3>Indexes</h3>
                    <div>
                        <!-- todo add indexes list-->
                        <div class="pull-left"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>